@mixin main {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
}

@mixin bg-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin info {
  display: flex;
  flex: 1;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
}

@mixin span {
  font-family: Roboto;
  color: #c2c2c2;
}

@mixin h1 {
  font-family: Roboto;
  font-weight: 300;
  color: #c2c2c2;
  margin-bottom: 4px;
  margin-top: 4px;
}

@mixin circulo {
  background-color: #181818;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
}

/* -------------------------------------------------------- */

.divider {
  border: 1px solid #A0A0A0;
  width: 90%;
  margin: 20px;
}

.card {
  &.card-festival-comprado {
    @include main;

    .bg-img {
      @include bg-img;
      margin: 10px;
      border-radius: 20px;
      position: relative;
    }

    .circulo-likes {
      @include circulo;
      right: 20px;
      bottom: 5px;
    }
  }

    &.info-festival {
      @include info;
      width: 95%;


      > span {
        @include span;
        font-weight: 700;
        font-size: 4vw;
      }

      > h1 {
        @include h1;
        font-size: medium;
      }

      > h1:first-of-type {
        color: #ff9900;
      }
    }
  }

.lista {
  &.lista-concerto {
    @include main;

    .bg-img {
      @include bg-img;
      width: 90px;
      height: 90px;
      border-radius: 90px;
    }

    .info-concerto {
      @include info;

      > span {
        @include span;
        font-weight: 700;
        font-size: 4vw;
      }

      > h1 {
        @include h1;
        font-weight: 300;
        font-size: 3vw;
      }

      > h1:first-of-type {
        color: #ff9900;
      }
    }

    .circulo-likes {
      @include circulo;
      right: 40px;
    }
  }

  &.lista-bilhete {

    &.indisponivel {
      .info-bilhete {


        > span {
          @include span;
          font-weight: 700;
          font-size: 4vw;
          opacity: 0.5;
        }

        > h1 {
          @include h1;
          font-weight: 300;
          font-size: 3vw;
          opacity: 0.5;
        }
      }

      .rectangulo-preco {
        background-color: #181818;
        border-radius: 6px;
        padding: 8px;
        margin-right: 30px;

        > span {
          @include span;
          font-weight: 300;
          font-size: 3vw;
          opacity: 0.5;
        }
      }

      .bg-img {
        opacity: 0.5;
      }
    }
  }
}

.caixa-texto {
  @include main;

  .color-block {
    width: 92%;
    display: flex;
    justify-content: flex-start;

    > h1 {
      font-family: Roboto;
      font-size: medium;
      font-weight: 100;
      color: #c2c2c2;
      line-height: 22px;
    }
  }
}